@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');



.fargfemman-heading {
    font-family: 'Roboto', sans-serif;
    /* Use a similar font */
    font-size: 36px;
    /* Adjust font size as needed */
    color: #9308b6;
    /* Adjust color to match the segment */
    text-transform: uppercase;
    /* Convert text to uppercase */
    letter-spacing: 2px;
    /* Adjust letter spacing for better appearance */
    text-align: center;
    /* Center the heading */
}
.confetti {
    position: fixed;
    width: 10px;
    height: 10px;
    background-color: #ffcc00;
    /* Default confetti color */
    border-radius: 50%;
    animation: confettiAnimation 3s ease-out forwards;
}

@keyframes confettiAnimation {
    0% {
        transform: translateY(0) translateX(0) rotate(0deg);
        opacity: 1;
    }

    100% {
        transform: translateY(calc(100vh + 50px)) translateX(calc((100vw - 10px) * var(--x))) rotate(360deg);
        opacity: 0;
    }
}