@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.fargfemman-heading {
    font-family: 'Roboto', sans-serif;
    /* Use a similar font */
    font-size: 36px;
    /* Adjust font size as needed */
    color: #9308b6;
    /* Adjust color to match the segment */
    text-transform: uppercase;
    /* Convert text to uppercase */
    letter-spacing: 2px;
    /* Adjust letter spacing for better appearance */
    text-align: center;
    /* Center the heading */
}

.confetti {
    position: fixed;
    width: 10px;
    height: 10px;
    background-color: #ffcc00;
    /* You can change the color */
    border-radius: 50%;
    animation: confettiAnimation 3s ease-out infinite;
}

@keyframes confettiAnimation {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    100% {
        transform: translate(calc(100vw - 20px), calc(100vh - 20px)) rotate(360deg);
        opacity: 0;
    }
}