@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.ssdl-heading {
    font-family: 'Futura';
    /* Use a similar font */
    font-size: 50px;
    /* Adjust font size as needed */
    color: #efeff1;
    /* Adjust color to match the segment */
    text-transform: uppercase;
    /* Convert text to uppercase */
    letter-spacing: 2px;
    /* Adjust letter spacing for better appearance */
    text-align: center;
    /* Center the heading */
}