<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>MyFlaskApp</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	</head>
	<body>
		<div class="contatiner">
		{% include 'templates/includes/_navbar.html' %}
		</div>

		<div class="container" style="padding-top: 10px">
			{% include 'templates/includes/_messages.html' %}
			{% block body %}{% endblock %}
		</div>

		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script> -->

	</body>
</html>